{% extends 'base.html' %}
{% load static %}

{% block title %}Описание продукта{% endblock %}

{% block content %}
    <h2>Описание продукта</h2>
    <h1>Название продукта: {{ product.name }}</h1>
    <div class="outProduct">
            <div class="image"><img src="{{ product.image.url }}" alt="Image"></div>
            <h3><label>Производитель: </label>{{ product.country }}</h3>
            <h3><label>Модель: </label>{{ product.model }}</h3>
            <h3><label>Год выпуска: </label>{{ product.create_year }}</h3>
            <h3><label>Категория: </label>{{ product.category.name }}</h3>
            <h3><label>Цена: </label>{{ product.price }}</h3>
            <h3><label>В наличии: </label>{{ product.amount }} шт.</h3>
                {% if user.is_authenticated %}
                <button class="add_to_cart" data-id="{{ product.id }}">
                    {% if product.cart %}
                    в корзине {{ product.cart }} шт
                    {% else %}
                    В корзину
                    {% endif %}
                </button>
                {% endif %}
    </div>
<script>
    $(document).on('click', '.add_to_cart', e => { $obj = $(e.target);
        $.get('/cart_add/' + $obj.data('id'), {}, res => { $obj.html(res)});
        e.preventDefault();
        return false;
    });
</script>
{% endblock %}
